<div *ngIf="(isLoading$ | async)" class="overlay" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav role="navigation" mode="side">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
